body {
    background-color: #111;
}

.field {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 32px;
    height: 32px;
    position: relative;
}

.wall {
    background-image: url('images/wall.png');
    background-size: cover;
    background-position: center;
}

.floor {
    background-image: url('images/floor.png');
    background-size: cover;
    background-position: center;
}

.item, .entity {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    background-image: url('images/heros/hero1.png');
}

.enemy1 {
    background-image: url('images/villan/enemy1.png');
}

.sword {
    background-image: url('images/item/sword.png');
}

.potion {
    background-image: url('images/item/healPotion.png');
}

.health {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: green;
}
